RedLaboral/WEB_RedLaboral/App_WebReferences/WSRedLab/ServicioRedLab.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioRedLab" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55953/ServicioRedLab.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55953/ServicioRedLab.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55953/ServicioRedLab.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioRedLab_ListaRedLab_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaRedLab" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_ListaRedLab_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaRedLabResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_ListaPuesto_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaPuesto" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_ListaPuesto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaPuestoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_ListaContrato_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaContrato" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_ListaContrato_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaContratoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_prueba_InputMessage">
    <wsdl:part name="parameters" element="tns:prueba" />
  </wsdl:message>
  <wsdl:message name="IServicioRedLab_prueba_OutputMessage">
    <wsdl:part name="parameters" element="tns:pruebaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioRedLab">
    <wsdl:operation name="ListaRedLab">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRedLab/ListaRedLab" message="tns:IServicioRedLab_ListaRedLab_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRedLab/ListaRedLabResponse" message="tns:IServicioRedLab_ListaRedLab_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaPuesto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRedLab/ListaPuesto" message="tns:IServicioRedLab_ListaPuesto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRedLab/ListaPuestoResponse" message="tns:IServicioRedLab_ListaPuesto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaContrato">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRedLab/ListaContrato" message="tns:IServicioRedLab_ListaContrato_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRedLab/ListaContratoResponse" message="tns:IServicioRedLab_ListaContrato_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="prueba">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioRedLab/prueba" message="tns:IServicioRedLab_prueba_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioRedLab/pruebaResponse" message="tns:IServicioRedLab_prueba_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioRedLab" type="tns:IServicioRedLab">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListaRedLab">
      <soap:operation soapAction="http://tempuri.org/IServicioRedLab/ListaRedLab" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaPuesto">
      <soap:operation soapAction="http://tempuri.org/IServicioRedLab/ListaPuesto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaContrato">
      <soap:operation soapAction="http://tempuri.org/IServicioRedLab/ListaContrato" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="prueba">
      <soap:operation soapAction="http://tempuri.org/IServicioRedLab/prueba" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioRedLab">
    <wsdl:port name="BasicHttpBinding_IServicioRedLab" binding="tns:BasicHttpBinding_IServicioRedLab">
      <soap:address location="http://localhost:55953/ServicioRedLab.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>